# ✅ Verification

Here are the commands to manage the Assistify verification system:

* `verification-setup` - Set up the verification system.
* `cleardata verifcation` - Clear the data from the verification system
* `verify-send` - Send the panel for verification in the current channel.
  * This **requires** you to set up the verification system with `/verification-setup`
* `unverify` - Unverify yourself from the current server. (If Verified)
